@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html,
body {
  color: #000;
  background-color: #fff;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  font-family: Josefin Sans;
}

input,
textarea {
  outline: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a,
a:active,
a:focus {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

a:visited,
a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

button {
  background-color: inherit;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  margin: 0;
  border: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#root {
  margin: 25px;
}

input[type='text'] {
  font-size: 18px;
  height: 30px;
  outline: 1px solid #000;
  border-radius: 5px;
}

.button-icon {
  height: 30px;
  width: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create {
  border: 1px solid #000;
}
